@font-face {
  font-family: PoppinsMedium;
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: PoppinsRegular;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

header {
}

nav {
  display: flex;
  justify-content: space-between;

  color: var(--fg-col, black);
  background-color: var(--bg-col, white);

  padding: 1em;

  position: sticky;
  top: 0px;

  z-index: 9999;

  /* background: rgba(0, 0, 0, 0.134);

  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px); */
}

html {
  background-color: var(--bg-col, white);
}

nav h2 {
  font-size: 1.2em;

  color: var(--theme-col, black);

  font-family: PoppinsMedium;
}

nav ul {
  display: flex;
  gap: 1.2em;

  font-family: PoppinsRegular;
}

nav a {
  text-decoration: none;
  color: var(--fg-col, black);
}
